<footer class="footer">
    <div class="footer_container">
        <div class="footer_button">
            <a class="footer_button--arrow" href="index.html">
                <img src="assets/images/ico-arrow.svg" alt="imagen menu">
            </a>
        </div>
        <div class="footer_block">
            <ul>
                <li class="footer_block--text">ARTICLES</li>
                <li class="footer_block--text">BOOKS</li>
                <li class="footer_block--text">EVENTS</li>
                <li class="footer_block--text">REASONS</li>
                <li class="footer_block--text">TIPS</li>
            </ul>
            

        </div>
        <div class="footer_social">
            <ul>
                <li class="footer_block--text">TWITTER</li>
                <li class="footer_block--text">INSTAGRAM</li>
                <li class="footer_block--text">MASTODON.SOCIAL</li>
            </ul>


        </div>
        <div class="footer_year">
            <small class="footer_year--text">©2017</small>
        </div>
        <div class="footer_heart">
            <small class="footer_heart--text">We <span class="heart">❤</span> components</small>
        </div>
    </div>

</footer>