<footer class="footer">
    <div class="footer_container">
        <div class="footer_button">
            <a class="footer_button--arrow" href="index.html">
                <img src="assets/images/ico-arrow.svg" alt="imagen menu">
            </a>
        </div>
        <div class="footer_block-text">
            

        </div>
        <div class="footer_social">

        </div>
        <div class="footer_year">
            <small class="footer_year--text">©2017</small>
        </div>
        <div class="footer_heart">
            <small class="footer_heart--text">We <span class="heart">❤</span> components</small>
        </div>
    </div>

</footer>