<section class="grid">
    <div class="grid_tittle">
        <h2>3 Reasons To Purchase</h2>
    </div>
    <div class="grid_1">
        <h3 class="grid_1--tittle">Ut sed metus</h3>
        <p class="grid_1--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="grid_2">
        <h3 class="grid_2--tittle">Curabitur ac erat</h3>
        <p class="grid_2--text">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="grid_3">
        <h3 class="grid_3--tittle">Morbi dictum</h3>
        <p class="grid_3--text">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <div class="grid_4">
        <a class="grid_4--buttonmore" href="#">More reasons</a>
    </div>

</section>