<header class="hero">
    <div class="hero_button">
        <a class="hero_button--link" href="#menu">
            <img class="image-menu" src="../assets/images/ico-menu.svg" alt="imagen menu">
        </a>
    </div>
    </div>
    <div class="text">
        <h1 class="text_principal">ANONYMOUS PROXY</h1>
        <H2 class="text_secundary">In hac habitasse platea dictumst</H2>
        <div class="text_button">
            <a class="text_button--link" href="#">
                <img class="image-menu" src="../assets/images/ico-scroll-down.svg" alt="imagen menu"></a>
        </div>
    </div>


</header>