<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>anonimous</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <header class="hero">
      <div class="hero_button">
          <a class="hero_button--link" href="#">
              <img class="image-menu" src="../assets/images/ico-menu.svg" alt="imagen menu">
          </a>
      </div>
    </div>
    <div class="text">
      <h1 class="text_principal">ANONYMOUS PROXY</h1>
      <H2 class="text_secundary">In hac habitasse platea dictumst</H2>
      <div class="text_button">
          <a class="text_button--link" href="#">
              <img class="image-menu" src="../assets/images/ico-scroll-down.svg" alt="imagen menu"></a>
      </div>
    </div>
    

  </header>
  <section class="main">
    <h3 class="main_text1">Insomnia Tips</h3>
    <h2 class="main_text2">Looking Through A Window</h2>
    <p class="main_text3">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum. </p>
    <div class="main_button"><a class="main_button--go" href="">Go</a></div>
      
  </section>

</body>

</html>