/*@mixin text-grid() {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 18px;
    &--tittle {
        font-weight: bold;
    }
        &--text {
            background-color: pink;
            font-weight: normal;
            max-width: 180px;
        }

}*/